#PanelSimulador{
	margin-left: 20px;
	margin-top:75px;
	margin-right: 20px;

}

#PanelResultadosOp{
  margin-left: 20px;
  margin-right: 20px;
}

#CabeceraSimulador{
	background-color: #f1f1f1;
}

#CuerpoSimulador{
	height: 600px;
}
#CuerpoSimulador2{
	height: auto;
}
#CuerpoSimulador3{
  height: auto;
  margin-top: 10px;
  margin-left: 15px;
}

#autoGenerativo {
  margin-left: 15px;
}
#PieSimulador{
	background-color: #f1f1f1;
	height: 55px;
}

#ObjetoSimulador{
	width: 100%;
	margin-right: 0px;
}

#VentanaSimuladorUnity{
	padding: 5px;
}

#PanelInformacion{
  margin-left: 20px;
  margin-right: 20px;
}
#gameContainer{
	width: 100%;
	height:600px;
}

#PanelResultados{
  width: 90%;
  height: auto;
}

#imagenPlano{
	height: 600px;
	width: 1200px;
}

#floatRight{
	float: right;
}

#PaginacionInformacion{
  margin-top: 0px;
}


@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

